#focus-sessions {
    background-color: #d9d9d9;
    border-radius: 18px 18px 18px 18px;

}

#task-icon {
    width: 5vh;
}

#focus {
    position: absolute;
    top: 6%;
    left: 18%;
    cursor: move;
    z-index: 1;

    padding: 10px;

}

#daily-progress {
    position: absolute;
    top: 6%;
    left: 50%;
    cursor: move;
    z-index: 1;

    padding: 10px;

}

#tasks {
    position: absolute;
    top: 50%;
    left: 18%;
    cursor: move;
    z-index: 1;

    padding: 10px;

}

.container {
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch; */

    /* width: 80%; */

    padding: 2vh;
}