* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    /* Hide scrollbars */
    display: none;
}

body {
    background-color: #F9F9F9;
    font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Helvetica Neue', Arial, sans-serif;
    color: #F9F9F9;
    padding: 0;
}

main {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    margin: 0px;
}

.my-header {
    display: inline-block;

    width: 14%;

    background-color: #f0f0f0;

    border-style: solid;
    border-radius: 0px 0px 0px 0px;
    border-width: 0px 2px 0px 0px;
    border-color: rgb(143, 143, 143);
    
    height:100vh;

    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
}

.abeka-logo-div {
    text-align: center;

    margin: 20px auto 30px auto;
}

.header-ul-style {
    text-decoration: none;
    list-style: none;
    font-family: inherit;
    font-size: 22px;
    color: rgb(48, 39, 39);

    width: 100%;
    padding: 10px auto 10px auto;
    margin: 10px auto 10px 0px;
}

.nav-li {
    display: flex;

    flex-direction: row;
    align-items: center;

    width: 98%;
    padding: auto;
    margin: auto;
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
}

#abeka-logo {
    width: 70%;
    border-radius: 10px;
    box-shadow: 3px 6px 3px rgb(128, 128, 128);
}

.nav-li > img {
    width: 20%;
}

.widget {
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgb(128, 128, 128);
}

h1 {
    font-size: 26px;
    color: black;
}

#sign-in {
    margin: 62vh auto 20px 20px;
}

#settings {
    margin: auto auto 20px 20px;
}
