* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    /* Hide scrollbars */
    display: none;
}

body {
    background-color: rgb(36, 36, 58);
    font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Helvetica Neue', Arial, sans-serif;
    color: #F9F9F9;
    padding: 0;
}

.my-header {
    display: inline-block;

    width: 14%;

    background-color: rgb(201, 130, 130);

    border-style: solid;
    border-radius: 0px 0px 0px 0px;
    border-width: 0px 3px 0px 0px;
    border-color: rgb(124, 80, 80);
    
    height:100vh;

    padding: 10px 24px auto 24px;
    margin: 0px auto 0px 0px;
}

.abeka-logo-div {
    text-align: center;

    margin: 10px auto 10px auto;
}

.header-ul-style {
    text-decoration: none;
    list-style: none;
    font-family: inherit;
    font-size: 22px;
    color: rgb(48, 39, 39);

    width: 100%;
    padding: 10px auto 10px auto;
    margin: 10px 10px 10px 5%;
}

.nav-li {
    display: flex;

    flex-direction: row;
    align-items: center;
}

nav > ul > li > a {
    text-decoration: none;
}

#abeka-logo {
    width: 70%;
    border-radius: 10px;
    box-shadow: 4px 0px 8px black;
}

#pomodoro-icon {
    width: 20%;
}

#calendar-icon {
    width: 20%;
}